<table class="table table-bordered mb-4">
    <thead class="table-light">
    <tr>
        <th>{{ knp_pagination_sortable(data.items, 'Id', 'c.id') }}</th>
        {% for prop_header, prop_name in data.props %}
            <th>{{ knp_pagination_sortable(data.items, prop_header, prop_name) }}</th>
        {% endfor %}
    </tr>
    </thead>
    <tbody>
    {% for item in data.items %}
        <tr>
            <td>{{ item.id }}</td>
            {% for prop_header, prop_name in data.props %}
                <td>{{ attribute(item, prop_name) }}</td>
            {% endfor %}
            <td>
                <form method="post" action="{{ path('app_customer_delete', {('id'): item.id}) }}">
                    <button type="submit">Supprimer</button>
                </form>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>